<section class="max-w-lg w-full py-4 mx-auto px-4 sm:px-6 lg:px-8">
  <% if @services.present? %>
    <%= form_with(model: @booking, url: bookings_path(user_id: params[:user_id]), local: true, class: 'space-y-6') do |f| %>
      <div class="text-center">
        <% if @member.present? %>
          <h2 class="text-2xl font-semibold">Contact <%= @member.first_name %></h2>
        <% else %>
          <h2 class="text-2xl font-semibold">Contact Us</h2>
        <% end %>
      </div>

      <div class="space-y-4">
        <div>
          <%= f.label :service, "What Service are you interested in?", class: 'block text-sm font-medium text-gray-700' %>
          <%= f.collection_select :service_id, @services, :id, :service_type, { prompt: 'Select a service' }, { class: "mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md" }%>
        </div>

        <div class="flex flex-col sm:flex-row sm:space-x-4">
          <div class="w-full sm:w-1/2">
            <%= f.label :start_date, "Drop off Date", class: 'block text-sm font-medium text-gray-700' %>
            <%= f.date_field :start_date, class: 'mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm' %>
          </div>
          <div class="w-full sm:w-1/2 mt-4 sm:mt-0">
            <%= f.label :end_date, "Pick up Date", class: 'block text-sm font-medium text-gray-700' %>
            <%= f.date_field :end_date, class: 'mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm' %>
          </div>
        </div>

        <div class="flex flex-col sm:flex-row sm:space-x-4">
          <div class="w-full sm:w-1/2">
            <%= f.label :start_time, "Start Time", class: 'block text-sm font-medium text-gray-700' %>
            <%= f.time_field :start_time, class: 'mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm' %>
          </div>
          <div class="w-full sm:w-1/2 mt-4 sm:mt-0">
            <%= f.label :end_time, "End Time", class: 'block text-sm font-medium text-gray-700' %>
            <%= f.time_field :end_time, class: 'mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm' %>
          </div>
        </div>

        <div>
          <h4 class="text-lg font-semibold">Add your pets</h4>
          <details class="border border-gray-300 rounded-md">
            <summary class="cursor-pointer py-2 px-4 text-sm font-medium text-gray-700">Add Pets</summary>
            <div class="p-4 space-y-2">
              <%= f.label :num_of_pets, "Add Pets", class: 'block text-sm font-medium text-gray-700' %>
              <%= f.number_field :num_of_pets, min: 0, class: 'mt-1 block w-full py-2 px-3 border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm', placeholder: 0 %>
            </div>
          </details>
        </div>

        <div>
          <h4 class="text-lg font-semibold">Add your phone number here</h4>
          <p class="text-xs text-gray-500">We need a verified number to add to your account. We will not share it with members.</p>
          <details class="border border-gray-300 rounded-md mt-2">
            <summary class="cursor-pointer py-2 px-4 text-sm font-medium text-gray-700">Phone Number</summary>
            <div class="p-4 space-y-2">
              <%= f.label :phone_number, "Phone Number", class: 'block text-sm font-medium text-gray-700' %>
              <%= f.telephone_field :phone_number, class: 'mt-1 block w-full py-2 px-3 border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm', placeholder: '1-888-225-5555' %>
            </div>
          </details>
        </div>

        <div class="space-y-2">
          <%= f.label :message, "Message", class: 'block text-sm font-medium text-gray-700' %>
          <%= f.text_area :message, class: 'mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm' %>
        </div>

        <div class="flex items-center">
          <%= f.check_box :recieve_updates, class: 'h-4 w-4 text-indigo-600 border-gray-300 rounded' %>
          <%= f.label :recieve_updates, "Would you like to receive updates and photos?", class: 'ml-2 block text-sm text-gray-900' %>
        </div>

        <div class="flex justify-center">
          <%= f.submit "Submit", class: 'w-full sm:w-auto inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500' %>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>No services found.</p>
  <% end %>
</section>
