<div class="booking-details p-6 bg-white rounded-lg shadow-md">
  <h2 class="text-2xl font-bold text-gray-900 mb-4"><%= @booking.service.service_type %></h2>
  <p class="text-gray-700 mt-4"><strong>Description:</strong> <%= @booking.service.description %></p>
  <p class="text-gray-700 mt-4"><strong>Booking Dates:</strong> <%= @booking.start_date %> to <%= @booking.end_date %></p>
  <p class="text-gray-700 mt-4"><strong>Number of Pets:</strong> <%= @booking.num_of_pets %></p>
  <p class="text-gray-700 mt-4"><strong>Message:</strong> <%= @booking.message %></p>

  <h3 class="text-xl font-semibold text-gray-800 mt-6 mb-2">Messages:</h3>
  <div class="messages space-y-4">
    <% @messages.each do |message| %>
      <div class="message p-4 bg-gray-100 rounded-lg">
        <strong class="text-gray-800"><%= message.sender.first_name %><%= message.sender.last_name %>:</strong>
        <p class="text-gray-700"><%= message.content %></p>
        <span class="text-xs text-gray-600"><%= message.created_at.strftime("%Y-%m-%d %H:%M") %></span>
      </div>
    <% end %>
  </div>

  <%= form_with(model: [ @booking, @message ], url: create_message_booking_path(@booking), local: true, class: "mt-4 space-y-4") do |f| %>
    <div class="flex flex-col">
      <%= f.label :content, "New Message", class: "text-sm font-medium text-gray-700" %>
      <%= f.text_area :content, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
    </div>
    <%= f.submit "Send Message", class: "mt-2 inline-block bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition duration-300" %>
  <% end %>
</div>
