<section class="flex flex-col justify-center items-center px-4">
  <div class="p-6 bg-white rounded-lg shadow-md w-full">
    <div class="px-4 sm:px-0">
      <h3 class="text-xl font-semibold leading-7 text-gray-900">Booking Information</h3>
      <p class="mt-1 max-w-2xl text-sm leading-6 text-gray-500">Details and messages for this booking.</p>
    </div>
    
    <div class="mt-6 border-t border-gray-100">
      <dl class="divide-y divide-gray-100">
        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
          <dt class="text-sm font-medium leading-6 text-gray-900">Service Type</dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"><%= @booking.service.service_type %></dd>
        </div>
        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
          <dt class="text-sm font-medium leading-6 text-gray-900">Description</dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"><%= @booking.service.description %></dd>
        </div>
        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
          <dt class="text-sm font-medium leading-6 text-gray-900">Booking Dates</dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"><%= @booking.start_date %> to <%= @booking.end_date %></dd>
        </div>
        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
          <dt class="text-sm font-medium leading-6 text-gray-900">Number of Pets</dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"><%= @booking.num_of_pets %></dd>
        </div>
        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
          <dt class="text-sm font-medium leading-6 text-gray-900">Message</dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"><%= @booking.message %></dd>
        </div>
        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
          <dt class="text-sm font-medium leading-6 text-gray-900">Status</dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"><%= @booking.status %></dd>
        </div>
      </dl>
    </div>  
    <% if current_user.id == @booking.user_id %>
      <%= link_to 'Edit', edit_booking_path(@booking), class: "text-blue-500 hover:text-blue-700 mt-4 inline-block" %>
    <% elsif current_user.id == @booking.service.member_id %>
      <% if @booking.status == 'pending' %>
      <div class="flex gap-2 justify-center">
        <%= button_to 'Accept', update_status_booking_path(@booking, status: 'accepted'), method: :patch, class: "bg-green-500 text-white py-2 px-4 rounded" %>
        <%= button_to 'Decline', update_status_booking_path(@booking, status: 'declined'), method: :patch, class: "bg-red-500 text-white py-2 px-4 rounded ml-2" %>
      </div>
      <% else %>
        <p class="text-gray-700 mt-4">Booking has been <%= @booking.status %>.</p>
      <% end %>
    <% end %>
  </div>

  <div class="mt-8 p-6 bg-white rounded-lg shadow-md w-full">
    <h3 class="text-xl font-semibold text-gray-800 mb-2">Messages:</h3>
    <div class="messages space-y-4">
      <% @messages.each do |message| %>
        <div class="message p-4 bg-gray-100 rounded-lg">
          <strong class="text-gray-800"><%= message.sender.first_name %> <%= message.sender.last_name %>:</strong>
          <p class="text-gray-700"><%= message.content %></p>
          <span class="text-xs text-gray-600"><%= message.created_at.strftime("%Y-%m-%d %H:%M") %></span>
        </div>
      <% end %>
    </div>

    <%= form_with(model: [ @booking, @message ], url: create_message_booking_path(@booking), local: true, class: "mt-4 space-y-4") do |f| %>
      <div class="flex flex-col">
        <%= f.label :content, "New Message", class: "text-sm font-medium text-gray-700" %>
        <%= f.text_area :content, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
      </div>
      <%= f.submit "Reply", class: "mt-2 inline-block bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition duration-300" %>
    <% end %>
  </div>

</section>
