<!DOCTYPE html>
<html>
  <head>
    <title>Pawsitive</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "https://unpkg.com/@spreadtheweb/multi-range-slider@1.0.2/dist/range-slider.main.min.js" %>
  </head>

  <body>
      <%= render "home/navbar" %>
        <div class="w-full h-[30px]">
        <% flash.each do |key, value| %>
          <%= content_tag :div, value, class: "flash #{key == 'notice' ? 'text-center text-green-500' : 'text-center text-red-500'}" %>
        <% end %>
      </div>
      <%= yield %> 
      <%= render "home/footer" %>
  </body>
</html>
