  <% if current_user.role == 'member' %>
    <section class="w-full overflow-hidden mt-5 px-4">
        <div class="sm:flex sm:w-[80%] xs:w-[90%] gap-4">
          <div class="flex flex-col gap-1 rounded self-start w-[100%] sm:w-[30%] p-2">
            <div class="rounded-full ">
              <% if current_user.avatar.present? %>
                <%= image_tag(current_user.avatar, class: "w-20 h-20 rounded-full", alt:'') %>
              <% end %>
            </div>
            <div class="flex flex-col gap-0.5">
              <h3 class="font-extrabold">
                <span class="text-2xl capitalize"><%= current_user.first_name %></span>
                <span class="text-2xl capitalize"><%= current_user.last_name.slice(0,1) %>.</span>
              </h3>
            </div>
            <div class="flex flex-col gap-1">
              <p class="bg-yellow-300 w-16 text-center text-xs capitalize">star sitter</p>
              <p class="text-center text-sm capitalize w-24">Edmonton,AB,AB</p>
            </div>
            <button class="flex-1 rounded-full bg-blue-600 dark:bg-blue-800 text-white dark:text-white antialiased font-bold hover:bg-blue-800 dark:hover:bg-blue-900 px-4 py-2 capitalize">
                Contact <%= current_user.first_name %> <%= current_user.last_name.slice(0,1) %>.
            </button>
          </div>
          <div class="flex flex-col gap-1 rounded">
            <% if current_user.photos.attached? %>
              <% current_user.photos.each do |photo| %>
                <%= image_tag(photo, class:"flex-1 rounded-xl lg:w-[12rem] lg:h-[12rem] md:w-[10rem] md:h-[10rem] sm:w-[8rem] sm:h-[8rem] xs:w-[7rem] xs:h-[7rem] outline outline-2 outline-offset-2 outline-blue-500 ") %>
              <% end %>
            <% else %>
              <p>No photos attached.</p>
            <% end %>
          </div>
        </div>
  </section>
<% end %>
