<div class="flex flex-1">
  <section class="basis-20 shrink-0 border-r-4 px-4">
    <%= form_with do |f| %>
      <fieldset class="my-4">
        <%= f.label :service_type, class: "block" %>
        <%= f.select :service_type, ["Boarding", "Daycare"], {}, class: "w-full" %>
      </fieldset>
      <fieldset class="my-4">
        <%= f.label :location, "Near" %>
        <%= f.text_field :location, placeholder: "Zip code or Address" %>
      </fieldset>
      <fieldset class="my-4">
        <%= f.label :dates, class: "block" %>
        <div class="flex w-full">
          <%= f.text_field :drop_off, class: "w-32", placeholder: "Drop off", onfocus: "this.type='date';this.showPicker();", onblur: "this.type='text'" %>
          <svg class="inline w-4 mx-1 fill-slate-400" viewBox="0 0 32 32"><path d="M26.793 17H3a1 1 0 110-2h23.793L21.5 9.707a1 1 0 011.414-1.414l6.647 6.646a1.5 1.5 0 010 2.122l-6.647 6.646a1 1 0 01-1.414-1.414L26.793 17z"></path></svg>
          <%= f.text_field :pick_up, class: "w-32", placeholder: "Pick up", onfocus: "this.type='date';this.showPicker();", onblur: "this.type='text'" %>
        </div>
      </fieldset>
      <fieldset class="my-4">
        <p>How many pets?</p>
        <%= f.label :pet_number_1, "1" %>
        <%= f.radio_button :pet_number, "1" %>
        <%= f.label :pet_number_2, "2" %>
        <%= f.radio_button :pet_number, "2" %>
        <%= f.label :pet_number_3, "3+" %>
        <%= f.radio_button :pet_number, "3" %>
      </fieldset>
      <fieldset class="my-4">
        <p>Pet type(s)</p>
        <%= f.label :pet_type_dog, "Dog" %>
        <%= f.check_box :pet_type_dog, checked: true %>
        <%= f.label :pet_type_cat, "Cat" %>
        <%= f.check_box :pet_type_cat %>
      </fieldset>
      <%# if pet_type_cat && !pet_cat_dog %>
      <fieldset class="my-4">
        <p>Dog size (lbs)</p>
        <div class="flex justify-between content-center">
          <div>
            <%= f.label :dog_size_15, "0-15" %>
            <%= f.check_box :dog_size_15 %>
          </div>
          <div>
            <%= f.label :dog_size_40, "16-40" %>
            <%= f.check_box :dog_size_40 %>
          </div>
          <div>
            <%= f.label :dog_size_100, "41-100" %>
            <%= f.check_box :dog_size_100 %>
          </div>
          <div>
            <%= f.label :dog_size_101, "100+" %>
            <%= f.check_box :dog_size_101 %>
          </div>
        </div>
      </fieldset>
      <fieldset class="my-4">
        <%= f.label :price, "Rate per day/night", class: "block mb-2" %>
        <div class="flex content-center">
          <span class="range-low basis-10">$1</span>
          <div class="range-slider flex-1 mr-4 translate-y-1" style="margin-bottom: 0"></div>
          <span class="range-high basis-10">$250</span>
        </div>
      </fieldset>
    <% end %>
  </section>
  <section class="flex-1">
    Show search results
  </section class="flex-1">
  <section>
    Show map
  </section>
</div>
<script>
    let slider = new RangeSlider('.range-slider', {
      values: [1, 250],
      min: 1,
      max: 250,
      pointRadius: 8
    });
    slider.onChange(values => {
      const lowEle = document.querySelector(".range-low");
      const highEle = document.querySelector(".range-high");
      lowEle.textContent = `$${values[0]}`;
      highEle.textContent = `$${values[1]}`;
    });
</script>