<div class="text-center mb-2 text-2xl font-bold tracking-tight text-gray-900">
  <%= form_with(model: [@service, @review], url: service_reviews_path(@service.id), local: false) do |form| %>
    <h2 class="text-2xl font-bold mb-4">Review Form</h2>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <div class="mb-4 mx-auto text-center">
      <%= form.label :rating, "Ratings" %>
      <div class="mt-2">
        <% (1..5).each do |rating| %>
          <%= form.radio_button :rating, rating %>
          <%= form.label :rating, rating %>
        <% end %>
      </div>
    </div>
    <div class="mr-14 mb-4">
      <%= form.label :comment, "Comments" %>
      <%= form.text_field :comment %>
    </div>
    <div class="mb-4">
      <%= form.submit "Submit" %>
    </div>
  <% end %>
</div>
