<div class="container px-4 mx-auto">
  <div class="max-w-lg mx-auto">
    <br/>

    <h2 class="text-3xl md:text-4xl font-extrabold">Log in</h2><br/>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field block mb-2 font-extrabold">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field block mb-2 font-extrabold">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field block mb-2 font-extrabold">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions block mb-2 font-extrabold">
        <%= f.submit "Log in" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>  
