  <section class="w-full flex flex-col gap-6 mt-5 px-4 sm:px-8">
    <div class="flex flex-col sm:flex-row sm:gap-4">
      <!-- Member Information -->
      <div class="flex flex-col gap-4 p-4 bg-white rounded-lg shadow-md sm:w-1/3">
        <div class="self-center">
          <% if @member.avatar.present? %>
            <%= image_tag(@member.avatar, class: "w-20 h-20 rounded-full", alt: '') %>
          <% end %>
        </div>
        <div class="text-center">
          <h3 class="font-extrabold text-xl capitalize">
            <%= @member.first_name %> <%= @member.last_name.slice(0, 1) %>.
          </h3>
        </div>
        <div class="text-center">
          <p class="bg-yellow-300 w-20 mx-auto text-center text-xs capitalize">star sitter</p>
          <p class="text-sm capitalize"><%= @member.address %></p>
        </div>
        <% if current_user.id == @member.id %>
          <button class="w-full text-center rounded-full bg-gray-400 text-gray-600 antialiased font-bold py-2 capitalize cursor-not-allowed" disabled>
            Contact <%= @member.first_name %> <%= @member.last_name.slice(0, 1) %>.
          </button>
        <% else %>
          <%= link_to new_booking_path(user_id: @member.id), class: "w-full text-center rounded-full bg-blue-600 text-white antialiased font-bold hover:bg-blue-800 py-2 capitalize" do %>
            Contact <%= @member.first_name %> <%= @member.last_name.slice(0, 1) %>.
          <% end %>
        <% end %>
      </div>
  
      <!-- Member Photos -->
      <div class="flex flex-wrap gap-4 bg-white rounded-lg shadow-md p-4 sm:w-2/3">
        <% if @member.photos.attached? %>
          <% @member.photos.each do |photo| %>
            <%= image_tag(photo, class: "flex-1 rounded-xl w-full sm:w-40 h-40 outline outline-2 outline-offset-2 outline-blue-500") %>
          <% end %>
        <% else %>
          <p class="text-gray-700">No photos found.</p>
        <% end %>
      </div>
    </div>
  
    <!-- Service Information -->
    <div class="flex flex-col sm:flex-row gap-4">
      <div class="service p-4 bg-white rounded-lg shadow-md border sm:w-1/3">
        <h3 class="text-2xl font-semibold text-gray-900 mb-4">Services</h3>
        <div class="flex justify-between mb-4">
          <h2 class="text-xl font-semibold text-gray-900"><%= @service.service_type %></h2>
          <% prices = JSON.parse(@service.price.to_s.gsub('=>', ':')) %>
          <p class="text-pretty text-xs ml-2">Lowest Price: $<span class="text-lg"><%= prices.values.reject(&:zero?).min %></span></p>
        </div>
        <p class="text-gray-700 text-sm mb-4"><%= @service.description %></p>
  
        <div class="flex justify-center mt-4">
          <button class="flex-1 rounded-full antialiased border capitalize py-2 px-4">See additional rates</button>
        </div>
  
        <h3 class="text-xl font-semibold text-gray-800 mt-6 mb-2">Availability:</h3>
        <details class="mb-4">
          <summary class="text-gray-800 cursor-pointer">View Availability</summary>
          <ul class="list-disc list-inside text-gray-700">
            <%= render "services/calender", availabilities: @availabilities %>
          </ul>
        </details>
  
        <h3 class="text-xl font-semibold text-gray-800 mb-2">Pricing:</h3>
        <ul class="list-disc list-inside text-gray-700 mb-4">
          <% JSON.parse(@service.price.to_s.gsub('=>', ':')).each do |size, cost| %>
            <li class="ml-4">
              <strong class="text-gray-800"><%= size.humanize %>:</strong> $<%= cost.zero? ? "" : cost %>
            </li>
            <% end %>
        </ul>
  
        <h3 class="text-xl font-semibold text-gray-800 mb-2">Size Range:</h3>
        <ul class="list-disc list-inside text-gray-700">
          <% JSON.parse(@service.size.to_s.gsub('=>', ':')).each do |size, range| %>
            <li class="ml-4">
              <strong class="text-gray-800"><%= size.humanize %>:</strong> <%= range %>
            </li>
          <% end %>
        </ul>
      </div>
  
      <!-- Reviews -->
      <div class="p-4 bg-white rounded-lg shadow-md border sm:w-2/3">
        <h3 class="text-2xl font-bold text-gray-900 mb-4">Reviews</h3>
        <div class="flex flex-col gap-4">
          <% if @service.reviews.empty? %>
            <p class="text-gray-700">No reviews found.</p>
          <% else %>
            <%= render @service.reviews %>
          <% end %>
          </br>
          <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded sm:w-1/2 sm:mx-auto">
            <%= link_to "Add Reviews", new_service_review_path(@service)%>
          </button>
        </div>
      </div>
    </div>
  </section>
  
